{% assign site_logo = site.logo | relative_url %}

<header id="masthead">
  <div class="inner">
    <div class="title-area">
      {% if page.url == '/' %}
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </h1>
      {% else %}
        <p class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
            <span>{{ site.title | escape }}</span>
          </a>
        </p>
      {% endif %}
    </div>
    <div class="header-right">
      <div class="language-selector-header">
        {% assign posts_language_version = site.posts | where_exp:'item', "page.ref != nil and item.ref == page.ref" | map: "language" %}
        {% assign path = page.url | split: '/' | slice: 2, segments.size | join: '/' %}
        {% if posts_language_version.size > 0 %}
          <ul>
            {% if posts_language_version contains "en" %}
            <li><a href="/en/{{ path }}" lang="en">English</a></li>
            {% endif %}
            {% if posts_language_version contains "zh" %}
            <li><a href="/zh/{{ path }}" lang="zh">中文</a></li>
            {% endif %}
            {% if posts_language_version contains "ja" %}
            <li><a href="/ja/{{ path }}" lang="ja">日本語</a></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</header>
