/* Typography */

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Freight+Display:wght@400;600;700&family=Source+Serif+Pro:wght@400;400i;600;600i&display=swap');

// Base font styles
body {
  font-family: "Freight Display W03 Book", "Noto Serif SC", georgia, "Songti SC", Simsun, serif;
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}

/* numbers use lnum font */
body {
  font-feature-settings: "lnum" 1; /* Use lining numbers */
  font-variant-numeric: lining-nums;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Freight Display W03 Book", "Noto Serif SC", georgia, "Songti SC", Simsun, serif;
  font-size: 3em;
  text-transform: capitalize;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 3rem;
  margin-left: 0px;
  line-height: 1.2;
}