---
layout: page
---
<h1 style="display:inline;">Friends Blog </h1><a style="color: #00000089;">During the last 90 days</a>

<div class="blogroll-meta">
<ul>

            <li>
            <strong><a href='https://phantomcarrousel.com/'>Phantom Carrousel | 幽影旋木</a></strong> - Last updated: <span class="post-date">2026-01-29</span> .</br>
            Description: Recent content on Phantom Carrousel | 幽影旋木
            <ul>
        <li>
            <span class="post-date">2026-01-29</span> - 
            <a href='https://phantomcarrousel.com/research-dilemma/'>研究困境：关于新点子</a></li>

            <li>
            <span class="post-date">2026-01-26</span> - 
            <a href='https://phantomcarrousel.com/birth-of-the-blog/'>博客旅程：小站初建成</a></li>

            <li>
            <span class="post-date">2026-01-26</span> - 
            <a href='https://phantomcarrousel.com/about/'>关于 | About</a></li>

            </ul>
            </li>
        
            <li>
            <strong><a href='https://blog.loikein.one/'>浣心</a></strong> - Last updated: <span class="post-date">2026-01-24</span> .</br>
            Description: Recent content on 浣心
            <ul>
        <li>
            <span class="post-date">2026-01-24</span> - 
            <a href='https://blog.loikein.one/posts/2025-08-30-brief-overview-classical-japanese/'>《日本古代文言文选》笔记，或日本古文速查表</a></li>

            <li>
            <span class="post-date">2026-01-08</span> - 
            <a href='https://blog.loikein.one/posts/2026-01-08-nothing-lasts-forever/'>抓不住的</a></li>

            <li>
            <span class="post-date">2026-01-05</span> - 
            <a href='https://blog.loikein.one/posts/2026-01-05-vless-for-lazy-apple-users/'>Vless Reality iOS macOS 懒人指南</a></li>

            </ul>
            </li>
        
            <li>
            <strong><a href='https://fivest.one'>fivestone</a></strong> - Last updated: <span class="post-date">2026-02-04</span> .</br>
            Description: fivestone's posts aggregation
            <ul>
        <li>
            <span class="post-date">2025-12-08</span> - 
            <a href='https://blog.fivest.one/archives/7090'>[电影] 这是剑桥旅店 Era o Hotel Cambridge</a></li>

            <li>
            <span class="post-date">2025-12-06</span> - 
            <a href='https://blog.fivest.one/archives/7083'>[歌词翻译] Rap Against Dictatorship – Prathet Ku Mee</a></li>

            <li>
            <span class="post-date">2025-12-05</span> - 
            <a href='https://blog.fivest.one/archives/7075'>Titles</a></li>

            </ul>
            </li>
        
</ul>
</div>
