---
layout: page
---
<h1 style="display:inline;">Friends Blog </h1><a style="color: #00000089;">During the last 90 days</a>

<div class="blogroll-meta">
<ul>

            <li>
            <strong><a href='https://blog.loikein.one/' lang="zh">浣心</a></strong> - Last updated: <span class="post-date">2026-05-15</span> .</br>
            Description: <span lang="zh">Recent content on 浣心</span>
            <ul>
        <li>
            <span class="post-date">2026-05-15</span> - 
            <a href='https://blog.loikein.one/posts/2026-05-15-port-capriccio/' lang="zh">关于码头的随想</a></li>

            <li>
            <span class="post-date">2026-02-21</span> - 
            <a href='https://blog.loikein.one/posts/2026-02-21-untypical-android-experience/' lang="zh">安卓（再）体验报告</a></li>

            </ul>
            </li>
        
            <li>
            <strong><a href='https://phantomcarrousel.com/' lang="zh">Phantom Carrousel | 幽影旋木</a></strong> - Last updated: <span class="post-date">2026-04-25</span> .</br>
            Description: <span lang="zh">Recent content on Phantom Carrousel | 幽影旋木</span>
            <ul>
        <li>
            <span class="post-date">2026-04-25</span> - 
            <a href='https://phantomcarrousel.com/reflection_nationalism/' lang="zh">思考关于对民族主义的反感</a></li>

            </ul>
            </li>
        
            <li>
            <strong><a href='https://fivest.one'>fivestone</a></strong> - Last updated: <span class="post-date">2026-05-17</span> .</br>
            Description: <span>fivestone's posts aggregation</span>
            <ul>
        <li>
            <span class="post-date">2026-02-28</span> - 
            <a href='https://blog.fivest.one/archives/7107' lang="zh">真珠帘</a></li>

            </ul>
            </li>
        
</ul>
</div>
