---
layout: page
---
<h1>Friends Blog</h1>

<div class="blogroll-meta">
<ul>

            <li>
            <strong><a href='https://phantomcarrousel.com/'>Phantom Carrousel | 幽影旋木</a></strong> - Last updated: <span class="post-date">2026-01-29</span> .</br>
            Description: Recent content on Phantom Carrousel | 幽影旋木
            <ul>
        <li>
            <span class="post-date">2026-01-29</span> - 
            <a href='https://phantomcarrousel.com/research-dilemma/'>研究困境：关于新点子</a></li>

            <li>
            <span class="post-date">2026-01-26</span> - 
            <a href='https://phantomcarrousel.com/birth-of-the-blog/'>博客旅程：小站初建成</a></li>

            <li>
            <span class="post-date">2026-01-26</span> - 
            <a href='https://phantomcarrousel.com/about/'>关于 | About</a></li>

            </ul>
            </li>
        
</ul>
</div>
